body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(105, 214, 127);
  background: linear-gradient(
    0deg,
    rgba(105, 214, 127, 1) 0%,
    rgba(120, 239, 190, 1) 100%
  );
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-list {
  background-color: rgb(166, 227, 225);
  border-radius: 0 0 5px 5px;
}
